h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: #214b75;
    text-align: center;
}

h3 {
    font-size: 2rem;
    color: #2980b9;
    margin-left: 20px;
}

hr {
    border: 1px solid #ff0000;
    margin: 20px;
}

span {
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: brown;
}

#text {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    font-size: 1.2rem;
    color: #8e44ad;
}

img {
    width: 500px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #3498db;
}

time {
    font-family: 'Courier New', Courier, monospace;
    color: #2ecc71;
    font-size: 1.1rem;
    font-weight: bold;
}
