body {
    font-family: Arial, sans-serif;
    background-image: url(p6.jpg);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    margin: 120px;
    overflow: hidden;
}

h1 {
    color: black;
}

.calculator {
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #FF7F7F;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.result h2 {
    transition: color 0.3s, transform 0.3s;
    color: black;
}

.result h2:hover {
    color: #007bff;
    transform: scale(1.1);
}
